%div.col_12
    %h1
        Everything is OK     


%div.col_12
    %p.info.col_3
        %a{:href => "/run"}= "Run tests now"
    %p.info.col_6.center http://go.bath.ac.uk/web-status    
    %p.info.col_3= date
